.App {
  text-align: center;
  padding:25px 0;
}

.image_block {
  display: inline-block;
  margin: 5px;

}
.image_block img{
  border-radius: 50px;
  transition: all .5s ease;
  cursor: pointer;
}
.image_block img:hover {
  border-radius: 0;
}

.image_block p{
  color: #fff;
}
.image-responsive {
  width: 260px;
  display: block;
  height: 180px;
}

button.learn_more {
  width: 150px!important;
  margin: 0 auto 15px auto;
  background: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
  transition: all .5s ease;
}

.learn_more:hover {
  opacity: .5;
}
.link_cat{
  color: #000;
  text-decoration: none;
  transition: all .5s ease;
}
.link_cat:hover{
  color: #fff;
}
.sitebar_wrapper{
  margin-top: 15px;
}

@media screen and (max-width: 1400px) {
  .image-responsive {
    width: 200px;
    display: block;
    height: 150px;
  }
}
@media screen and (max-width: 990px) {
  .image-responsive {
    width: 160px;
    display: block;
    height: 120px;
  }
}
@media screen and (max-width: 768px) {
  .image-responsive {
    width: 180px;
    display: block;
    height: 150px;
  }
  .sitebar_wrapper {
    position: static;
  }
  .link_cat {
    color: #000;
    text-decoration: none;
    transition: all .5s ease;
    margin-bottom: 1px;
    display: block;
  }
}

