body {
    background-color: #589C87 !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image_block {
    display: inline-block;
    margin: 5px;

}
.image_block img{
  border-radius: 50px;
  transition: all .5s ease;
  cursor: pointer;
}
.image_block img:hover {
    border-radius: 0;
}

.image_block p{
  color: #fff;
}
.image-responsive {
    width: 260px;
    display: block;
    height: 180px;
}

.learn_more {
    width: 150px!important;
    margin: 0 auto 15px auto;
    background: #000;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: all .5s ease;
}

.learn_more:hover {
    opacity: .5;
}
.link_cat{
  color: #000;
  text-decoration: none;
  transition: all .5s ease;
}
.link_cat:hover{
  color: #fff;
}
.sitebar_wrapper{
  margin-top: 15px;
}